.course-card-container {
    width: 850px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 250px;
  }
  
  .course-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .course-card-header h3 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
  }
  
  .add-course {
    border: none;
    font-size: 24px;
    cursor: pointer;
    background: #dad8d8;
    border-radius: 50%;
    width:30px;
    height: 30px;
    display: flex;
text-align: center;
justify-content: center;
    align-items: center;
  }
  .calenda-in{
    background: red;
    width: 50%;
  }
  .course-card-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .course-card-table th, .course-card-table td {
    padding: 10px;
    font-weight: 400;
    text-align: left;
  }
  
  .course-card-table th {
    color: #666;
  }
  
  .completion-bar {
    height: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: lightgray;
  }
  
  .completion-bar.green {
    background: linear-gradient(to right, green 80%, lightgray 20%);
  }
  
  .completion-bar.yellow {
    background: linear-gradient(to right, yellow 50%, lightgray 50%);
  }
  
  .completion-bar.red {
    background: linear-gradient(to right, red 30%, lightgray 0%);
  }
  
  .see-all {
    display: inline-block;
    margin-top: 20px;
    color: blue;
    text-decoration: none;
 

  }
  @media (max-width: 600px) {
    .course-card-container {
      font-size: 12px;
    
    width: 350px;
      overflow: hidden;
      display: grid;
      padding: 1rem;
      margin: 2rem;
    }
    .completion-bar{
      width: 70px;
    }
    
  }