body{
    background: #f0eeee;
}
/* Main content area (to the right of the sidebar) */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow this area to grow and fill the rest of the screen */
    padding: 20px;
    overflow: hidden;
  }
  .cards {
    width: 81.5%;
    position: absolute;
    right: 0;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; /* Ensure the cards container grows to fill the remaining space */
    padding: 20px;
 border: none;
    overflow: auto; /* If the content overflows, allow horizontal scrolling */
  }
  /* Cards container */
  .icon {
    background: #e0dede;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  
  .text h4 {
    font-size: 21px;
    font-weight: 400;
  }
  
  .text h3 {
    font-size: 17px;
    font-weight: 400;
  }
  
.graph-calendar{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;

}
.meeting-apps{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  gap: 25px;
}

  @media (max-width: 1024px) {
    .card {
      flex-basis: calc(50% - 20px); /* On medium screens, cards take up half the width */
    }
  }
  
  @media (max-width: 768px) {
    .cards{
        width: 100%;
        margin-top: 120px;
    }
    .card {
      flex-basis: 100%; /* On small screens, each card takes up the full width */
    }
    .graph-calendar{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .meeting-apps{
      display: flex;
      flex-wrap: wrap;
      overflow-x: hidden;
      justify-content: center;
      width: 100%;
    }
  }
