.cards{
    width: 82%;
    gap:0;
    display: flex;
}
.course-left-side{
    flex: 2;
    display: grid;
    gap: 1rem;
  
}
.course-right-side{
    flex: 1;
}
.card-row{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

@media (max-width: 600px) {

.cards{
    overflow-x: hidden;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
}
.card-row{
display: grid;
grid-template-columns: repeat(1,1fr);
}
}